<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<div class="container">
  <div class="row row-cols-3 g-4">
    <%= button_to "/auth/google_oauth2",
                  method: :post, data: { turbo: false }, form_class: "col d-grid", class: "btn btn-primary" do %>
      <i class="bi bi-google me-3"></i>Sign in with Google
    <% end %>
    <%= button_to "/auth/github",
                  method: :post, data: { turbo: false }, form_class: "col d-grid", class: "btn btn-dark" do %>
      <i class="bi bi-github me-3"></i>Sign in with GitHub
    <% end %>
    <%= button_to "/auth/microsoft_office365",
                  method: :post, data: { turbo: false }, form_class: "col d-grid", class: "btn btn-light" do %>
      <i class="bi bi-microsoft me-3"></i>Sign in with Microsoft 365
    <% end %>
    <%= button_to "/auth/microsoft_graph",
                  method: :post, data: { turbo: false }, form_class: "col d-grid", class: "btn btn-light" do %>
      <i class="bi bi-microsoft me-3"></i>Sign in with Microsoft Graph
    <% end %>
    <%= button_to "/auth/gitlab",
                  method: :post, data: { turbo: false }, form_class: "col d-grid", class: "btn btn-dark" do %>
      Sign in with GitLab
    <% end %>
    <%= button_to "/auth/keycloak",
                  method: :post, data: { turbo: false }, form_class: "col d-grid", class: "btn btn-secondary" do %>
      Sign in with Keycloak
    <% end %>
    <%= button_to "/auth/twitter2",
                  method: :post, data: { turbo: false }, form_class: "col d-grid", class: "btn btn-primary" do %>
      <i class="bi bi-twitter me-3"></i>Sign in with Twitter
    <% end %>
  </div>
</div>
